<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindGuard"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBg3DDKcL9YEBiOAlP4O9D_2tsKcm-9QV4" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Rejestracja"
            android:theme="@style/Theme.MindGuard" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.MindGuard" />

        <activity android:name=".MoodActivity" android:exported="true"/>
        <activity android:name=".ExerciseActivity" android:exported="true"/>
        <activity
            android:name=".TimerActivity"
            android:exported="true"
            android:label="Timer"
            android:theme="@style/Theme.MindGuard" />

        <activity
            android:name=".SupportCommunityActivity"
            android:exported="true"
            android:label="Społeczność Wsparcia"
            android:theme="@style/Theme.MindGuard" />

        <activity android:name=".EmergencyActivity" android:exported="true" />
        <activity android:name=".SurveyActivity" android:exported="true"/>

        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>